@import "tailwindcss";

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* REMOVE MINIMAP / CONTROLES DO BRACKET */
.g_zoom_controls {
  display: none !important;
}

.g_minimap {
  display: none !important;
}

svg + div {
  display: none !important;
}

/* ESCONDER SCROLLBAR NA TELA PÚBLICA DE CHAVES */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none;    /* Firefox */
  }
}